@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  /* height: 100%;  */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  /* Footer 배치 */
  flex: 1; 
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome and Safari */
}

main {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

html, 
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.absolute {
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

/* Custom styling for all scrollbars */
ul.absolute::-webkit-scrollbar {
  width: 6px;  /* Width of the vertical scrollbar */
}

ul.absolute::-webkit-scrollbar-track {
  background-color: rgb(251, 251, 251); 
}

ul.absolute::-webkit-scrollbar-thumb {
  background-color: rgb(162, 134, 255);
  border-radius: 4px;
}

ul.absolute::-webkit-scrollbar-thumb:hover {
  background-color: rgb(162, 134, 255);
}

input,
select,
textarea {
  margin: 0;
  /* border: 0; */
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-color: transparent;
  cursor: pointer;
}
